Pair_Programming/
PLFs/
/Bsp_Kontoverwaltung/target/
/mavenproject1/Exa_404_EulerProjects/target/
/Bsp_405_BruteForce/nbproject/private/
/EulerProjects/nbproject/private/
/EulerProjects/build/
/Bsp_Kontoverwaltuung/nbproject/private/
/Bsp_Kontoverwaltuung/build/